:root {
    --main-bg-color: white;
    --main-color-blue: #5970FF;
    --main-color-light-green: #7CE3E1;
    --main-color-yellow: #FFB64F;
}

@font-face {
    font-family: "Ferry";
    src: url("../fonts/Ferry-Black.woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-MediumItalic.woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBoldItalic.woff2");
    font-weight: 600;
    font-style: italic;
}


.headerLinks>.active {
    color: blueviolet;
    cursor: default;
}


.headerLinks {
    font-family: Inter;
    display: flex;
    color: black;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
}

.headerLinks a {
    color: black;

}

.headerLinks>a:hover {
    text-decoration: underline;
}



.disableLink {
    pointer-events: none;
}

.divVertStick {
    height: 1.5em;
    border: 2px solid;
    color: #029491;
}

.headerCol1 {
    justify-content: start;
}

.headerCol2 {
    justify-content: center;
}

.headerCol3 {
    justify-content: end;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 1.5em;
    text-decoration: none;
    background-color: #7CE3E1;
    border-radius: 5px;
    margin: 5px;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #8799b571;
}

.button:active {
    transform: scale(1);
}

.info_widget {
    width: 155px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    /* opacity: 0.3; */
    background: #d9d9d94d;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 120px;
    padding: 14px 10px;
    font-size: 10px;
    font-weight: 400;

    font-family: Inter;
    line-height: 12px;

}

.info_widget>p {
    color: #00000066;
    padding: 0 0;
    text-align: left;
    width: 100%;
    margin: 0 0;
}

.info_widget>p>span {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-left: 9px;

}

.info_widget>p:last-child {
    text-align: right;
}

.info_widget>p:last-child>span {
    color: #8ac540;
}

.companies-number {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-left: 9px;
}

.companies-number__limit {
    color: #8ac540;
}

.headerLinks.headerCol3>p {
    opacity: 0.4;
}

.header_user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_user>span {
    font-size: 14px;
    color: #000;
    opacity: 0.7;
}

.header_user>button {
    font-family: inherit;
    font-size: 10px;
    opacity: 0.4;
    border: none;
    background: transparent;

    & a,
    a:visited {
        text-decoration: none;
        color: #000;
    }

    & a:hover {
        text-decoration: underline;
    }
}

.header_user_image {
    width: 32px;
    height: 32px;
}

.lds {
    width: 30px;
    height: 30px;
    /* margin-left: 0px; */
    animation: spin 1s steps(8) infinite;
    opacity: 0.5;
}

.login_info {
    display: flex;
    align-items: center;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}




@media all and (max-width: 850px) {
    footer>img {
        height: 111px;
        width: 111px;
    }

    footer {
        height: 110px;
    }

    .headerCol2>a {
        display: none;
    }

    .header_user,
    .header_user_image,
    .login_info {
        display: none;
    }

    .info_widget {

        margin-right: 0px;
        width: 100px;
        height: 60px;


    }
}