:root {
    --main-bg-color: white;
    --main-color-blue: #5970FF;
    --main-color-green: #029491;
    --main-color-light-green: #7CE3E1;
    --main-color-yellow: #FFB64F;
}

@font-face {
    font-family: "Ferry";
    src: url("../fonts/Ferry-Black.woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-MediumItalic.woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBoldItalic.woff2");
    font-weight: 600;
    font-style: italic;
}

header {
    color: black;
    padding: 1%;
    background: var(--main-bg-color);
    font-size: 1rem;
    height: 93px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: stretch;
}

header a {
    /* color: black; */
    text-decoration: none;
    /* padding: 0 1rem; */
}

header p {
    color: black;
    padding: 0 1rem;
}

/* header img {
    align-self: left;
} */

.active {
    color: blueviolet;
    cursor: default;
}

footer {
    color: white;
    padding: 1%;
    background: #029491;
    font-size: 1rem;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}



footer>p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: right;
}

.headerLinks {
    font-family: Inter;
    display: flex;
    color: black;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
}

.headerLinks>a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 1%;
}

.disableLink {
    pointer-events: none;
}

.divVertStick {
    height: 1.5em;
    border: 2px solid;
    color: #029491;
}

.headerCol1 {
    justify-content: start;
}

.headerCol2 {
    justify-content: center;
}

.headerCol3 {
    justify-content: end;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 1.5em;
    text-decoration: none;
    background-color: #7CE3E1;
    border-radius: 5px;
}


@media all and (max-width: 768px) {
    footer>img {
        height: 111px;
        width: 111px;
    }

    footer {
        height: 110px;
    }
}