:root {
    --main-bg-color: white;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}



.header_1 {
    /* height: 288px; */
    /* max-width: 743px; */
    font-size: 60px;
    font-family: Ferry;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.6px;
    text-align: left;
}

.header_2 {
    /* height: 288px; */
    /* max-width: 743px; */
    font-size: 60px;
    font-family: Ferry;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 109px;
}

.subheader_1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.container_1>div {
    display: flex;
    flex-direction: column;
    max-width: 743px;
}


.container_1 {
    display: flex;
    flex-wrap: wrap;
}

.container_1 img {
    width: 552px;
    height: 369px;
    object-fit: cover;
    object-position: 0% 0;
}

.mainImg2 {
    width: 90vw;
    max-width: 1307px;
    height: 575px;
    object-fit: cover;
    object-position: 0% 0;
}

.button_1 {
    color: var(--main-bg-color);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
    border-radius: 5px;
    background: #5970FF;
    max-width: 335px;
    height: 59px;
    border: 0px;
    margin-top: 50px;

}

.button_1:hover {
    transform: scale(1.03);
    box-shadow: #596fff6c 3px 3px 0px 1px;
}

.button_1>a {
    text-decoration: none;
    color: #fff;
    letter-spacing: var(--letter-spacing);
    font-size: 22px;
}




@media all and (max-width: 768px) {
    .container_1 img {
        width: 347px;
        height: 342px;
    }

    .header_1 {
        font-family: Ferry;
        text-align: left;
        color: #000;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.28px;
        height: auto;
    }

    .mainImg2 {
        width: 90vw;
        /* max-width: 1307px; */
        height: 392px;
        object-fit: cover;
        object-position: 0% 0;
    }

    .button_1 {
        font-family: Inter;
        font-size: 20px;
        letter-spacing: 0.2px;
    }
}
