.search_form {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 50px;
    display: flex;
    width: 792px;
    justify-content: space-between;

}

.inputs {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    max-width: 380px;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 0.54px;
    position: relative;
    text-align: left;
}

.input {
    max-width: 268px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    padding: 13px;
    letter-spacing: 0.03em;
    margin: 20px 0;
    font-family: Inter;
}


select {
    cursor: pointer;
}

.input::placeholder {
    text-align: center;
}

.input:focus {
    outline: 2px solid var(--main-color-green);
}

.input_invalid {
    box-shadow: 0px 0px 20px rgba(255, 89, 89, 0.2);
    border: 1px solid #ff5959;
}

.input_invalid:focus {
    border: none;
}

.error_message {
    font-size: 14px;
    letter-spacing: var(--letter-spacing);
    color: #ff5959;
    position: absolute;
    top: 80%;
    align-self: center;
}

.date_picker_wrapper {
    display: flex;
    flex-direction: column;
}

.date_picker {
    display: flex;
}

.date_picker_label {
    display: flex;
    flex-direction: column;
}

.required_info {
    color: #949494;
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-top: 10px;
    font-family: Inter;
    text-align: left;

}

.dates {
    width: 95%;
    margin: 0;
}

.checks,
.checks_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checks_label {
    cursor: pointer;
    opacity: 0.4;
    font-family: Inter;
    letter-spacing: 0.54px;
    font-weight: 400px;
    font-size: 18px;
}

.check>input[type="checkbox"] {
    opacity: 0.4;
    margin-right: 20px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.check>input[type="checkbox"]:hover {
    background-color: #e8e8e8;
}

.check>input[type="checkbox"]:checked::after {
    display: flex;
    justify-content: center;
    content: "\2714";
    font-size: 11px;
    font-weight: 900;
    color: #00a100;
}

.check>input[type="checkbox"]:checked+label {
    opacity: 1;
}

.check>input[type="checkbox"]:checked {
    opacity: 1;
}

.button {
    align-self: flex-end;
    width: 300px;
    color: var(--main-bg-color);

}

.button_submit {
    display: block;
    font-family: Inter;
    color: white;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.66px;
    border-radius: 5px;
    background: #5970FF;
    width: 100%;
    height: 59px;
    border: 0px;
    margin-top: 70px;
    cursor: pointer;
}


.button_submit:disabled,
.button_submit:disabled:hover {
    transform: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
}

.button_submit:hover {
    transform: scale(1.03);
    box-shadow: #596fff6c 3px 3px 0px 1px;
}

.button_submit:active {
    transform: scale(1);
    box-shadow: none;
}

.search-loader {
    height: 55px;
}

@media screen and (max-width: 1212px) {
    .search_form {
        flex-direction: column;
        padding: 40px 20px;
    }

    .button {
        width: 100%;
        margin-top: 25px;
        align-self: center;
    }

    .button_submit {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .checks {
        display: none;
    }

    .inputs,
    .label {
        width: 100%;
    }

    .date_picker_label {
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    .search_title {
        font-size: 30px;
        width: 100%;
    }

    .search_body {
        flex-direction: column;
    }

    .search_form {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .search_title {
        font-size: 25px;
    }

    .date_picker {
        flex-direction: column;
    }

    .date_picker_label {
        width: 100%;
        margin-bottom: 10px;
    }
}